@import "nib"
@import "../mixins"

.dashboard-save-bar
  absolute top -1px left 50%
  background white
  border 1px solid header-border
  display inline-block
  padding 2px 6px
  transform translateX(-50%)

.dash-bar-button
  margin 0px 2px
