@import "nib"
@import "../mixins"


// INPUT
.dashboard-dialog-id
  width 400px

// input-hint
.dashboard-dialog-id-label .input-hint
  width 180px

// DIV
// Container of .dashboard-dialog-message
.dashboard-dialog-info
  font-size 11px
  list-style none
  padding 5px 0px

// SPAN
// A check mark or X showing that the .dashboard-dialog-message is valid/invalid.
.dashboard-valid, .dashboard-invalid
  border-radius 10px
  color white
  display inline-block
  text-align center
  width 13px

// Check mark
.dashboard-valid
  background create-color
// X
.dashboard-invalid
  background delete-color
