@import "nib"

// Label text input.
.tag-dialog-label
  width 400px

.tag-dialog-row
  position relative
  height 41px

.tag-dialog-time, .tag-dialog-color
  absolute top 0px bottom 0px
  width 49%

// Time picker (wrapper)
.tag-dialog-time
  font-size 13px
  left 0px
  padding 5px 0px
  > .time-picker
    absolute left 0px right 0px
    padding 6px
  .time-input
    font-size 12px

// Color select.
.tag-dialog-color
  right 0px
  padding 5px 7px
