* {
  margin: 0px;
  padding: 0px;
}
body {
  background: #fff;
  color: #222;
  font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}
::selection {
  background: #444;
  color: #fff;
}
::-moz-selection {
  background: #444;
  color: #fff;
}
.container-center {
  margin: 0px auto;
  width: 978px;
}
.header {
  border-bottom: 2px solid #ddd;
  margin: 0px 10px 10px;
}
.header-links {
  float: right;
}
.header-link {
  color: #444;
  display: inline-block;
  padding: 14px 8px;
}
.header-link:hover {
  text-decoration: none;
}
.header-title {
  font-weight: bold;
  padding-left: 0px;
}
.summary {
  font-size: 16px;
  margin: 22px;
  text-align: center;
}
.feature {
  background: #f4f4f4;
  -webkit-box-shadow: 0px 0px 0px 1px #dcdcdc;
  box-shadow: 0px 0px 0px 1px #dcdcdc;
  float: left;
  margin: 0px 10px 20px;
  padding: 2px;
  position: relative;
}
.feature-link,
.feature-label {
  color: #222;
  font-size: 12px;
  margin: 0px;
  text-align: center;
  text-decoration: none;
}
.feature-image {
  border: 1px solid #dcdcdc;
  height: 200px;
  user-drag: none;
  -webkit-user-drag: none;
  width: 300px;
}
.feature-play-gif {
  position: absolute;
  top: 3px;
  left: 3px;
  background: rgba(0,0,0,0.15);
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: rgba(0,0,0,0.7);
  cursor: pointer;
  font-size: 40px;
  height: 200px;
  outline: none;
  width: 300px;
}
.feature-play-gif:hover {
  color: rgba(0,0,0,0.85);
}
.feature-gif > .feature-play-gif {
  background: transparent;
  color: transparent;
}
.documentation-setup {
  margin: 0px auto;
  width: 600px;
}
h3,
h4 {
  clear: both;
  text-align: center;
}
h3 {
  background: #f4f4f4;
  border: 1px solid #dcdcdc;
  font-size: 18px;
  font-weight: normal;
  margin: 10px;
  padding: 10px 0px;
}
p {
  margin: 12px 10px;
  line-height: 17px;
}
pre {
  background: #f8f8f8;
  border: 1px solid #ddd;
  margin: 0px 26px;
  padding: 2px;
}
ul,
ol {
  margin-left: 28px;
}
.col-1,
.col-2,
.col-3 {
  float: left;
  height: 246px;
}
.col-1 {
  width: 33.33%;
}
.col-2 {
  width: 66.66%;
}
.col-3 {
  width: 100%;
}
