@import "nib"
@import "../../mixins"

.delta-picker
  display inline-block
  position relative

delta-border-color = #ddd
input.delta-custom
  absolute top 0px left 0px
  background white
  bottom 0px
  color #222
  font-size 12px
  margin 6px 0px
  padding 2px 6px
  right 20px
