@import "nib"

scrollbars()
  &::-webkit-scrollbar
    height 12px
    width 12px
  &::-webkit-scrollbar-button
    display none
  &::-webkit-scrollbar-button:horizontal
    display none
    width 0px
  &::-webkit-scrollbar-track-piece, &::-webkit-scrollbar-corner, &::-webkit-resizer
    display none
  &::-webkit-scrollbar-thumb
    background #ddd
    &:hover
      background #ccc
  &::-webkit-scrollbar-track
    background white
    box-shadow inset 0px 0px 1px rgba(black, 0.3)

selected-color = #1fa2ff

input-border = #ddd
anchor-color = #1fa2ff
create-color = #95b539
delete-color = #c55

header-bg     = #fcfcfc
header-shadow = 0px 1px 1px rgba(black, 0.4)
header-border = #ccc
header-height = 30px
sidebar-width = 250px
function-form-height = header-height

z-chart-date-label  = 1
z-chart-tags        = 2
z-chart-value-label = 3
z-filter            = 3
z-spinner           = 4
z-setting-popup     = 5
z-settings          = 6
z-input-suggester   = 6
z-menu-tree         = 6
z-dialog            = 50
